In [1]:
import sqlite3
import pandas as pd
import csv

In [5]:
con = sqlite3.connect('Customer.db')
cursor = con.cursor()

create_table = """CREATE TABLE IF NOT EXISTS customers(
                        RowNumber INTEGER,
                        CustomerId INTEGER PRIMARY KEY,
                        Surname TEXT,
                        CreditScore TEXT,
                        Geography VARCHAR(50),
                        Gender VARCHAR(10),
                        Age INTEGER,
                        Tenure INTEGER,
                        Balance DECIMAL(10,2),
                        NumOfProducts INTEGER,
                        HasCrCard BOOLEAN,
                        IsActiveMember BOOLEAN,
                        EstimatedSalary DECIMAL(10,2),
                        Exited BOOLEAN
                        );
                """
							

cursor.execute(create_table)


with open("Churn_Modelling.csv") as f:
    data = csv.reader(f)
    for row in data:    
        for RowNumber in row[0]:
            continue
        cursor.execute("INSERT INTO customers VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
        (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13]))

        con.commit()
        con.close()

OperationalError: database is locked

In [7]:

results = cursor.execute(f"SELECT * FROM customers").fetchall()

# con.commit()
# con.close()


print(results)

[]